<section id="guarantee-{{ section.id }}" data-section="{{ section.id }}">
  {{ 'section-guarantee.css' | asset_url | stylesheet_tag }}
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  <div class="section-guarantee-bg">
    <div class="container">
      <div class="product-guarantee">
        <div class="gt-badge">
          <img src="{{ section.settings.gt-badge | image_url: width: 600 }}" alt="" class="badge-icon">
        </div>
        <div class="gt-content">
          <h2 class="gt-header">60 DAY MONEY BACK GUARANTEE</h2>
          <p class="gt-desc">We stand behind the effectiveness of this product that's why we're giving you the chance to try it risk-free for the next 60 days. You're going to love how the treated area feels after each session, or you get your money back. Simply contact us for directions on how to return the device, and you'll get the instructions that you need without any hassle. Other than those aches and pains that you've been dealing with, you have nothing to lose by trying this product.</p>
          <div class="cta">
            <div class="cta-button">
              <div {{ block.shopify_attributes }}>
                <product-form class="product-form">
                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="b-get-btn">
                    <button type="submit" name="add" class="get-btn"
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                <span>ADD TO CART</span>
                <div class="loading-overlay__spinner hidden">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </button>
            </div>
            {%- endform -%}
          </product-form>
          </div>
          <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          </div>
            <div class="b-safe-checkout">
              <div class="flex-row-center secure-text" style="padding-left:10px;">
                  <img class ="lock-icon" src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/bxs_lock.png?v=1656162380">
                <span class="safe-checkout">GUARANTEED SAFE CHECKOUT</span>
              </div>
                <img class="payment-logos" src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/payment-logo.png?v=1655214307">
            </div>
          </div>
        </div>
        <img src="{{ section.settings.gt_image | image_url: width: 600 }}" alt="" class="gt-background">
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "guarantee",
	"settings": [
    {
      "type": "image_picker",
      "id": "gt_image",
      "label": "background image"
    },
    {
      "type": "image_picker",
      "id": "gt-badge",
      "label": "guarantee badge"
    }
  ]
}
{% endschema %}