<section id="MainProduct-2-{{ section.id }}" data-section="{{ section.id }}">
{{ "section-main-product-2.css" | asset_url | stylesheet_tag }}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- assign product_form_id = 'product-form-' | append: section.id -%}

  <div class="container">
    <div class="product-main row">
      <div class="only-on-mobile">
        <h1 class="product-headline">{{ product.metafields.custom.headline }}</h1>
      </div>
      <div class="product-gallery">
        <div class="slide-placeholder">
          <img src="{{ product.media.first | img_url: 'master' }}">
        </div>
        <media-gallery id="MediaGallery-{{ section.id }}" role="region" {% if section.settings.enable_sticky_info %}class="product__media-gallery"{% endif %} aria-label="{{ 'products.product.media.gallery_viewer' | t }}" data-desktop-layout="{{ section.settings.gallery_layout }}">
          <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
          {%- liquid
            assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
            assign media_count = product.media.size
            if section.settings.hide_variants and media_count > 1
              assign media_count = media_count | minus: variant_images.size | plus: 1
            endif
          -%}
        <div class="slider product-img">
          {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
          {%- for media in product.media -%}
            {%- liquid
                if variant_images contains media.src
                  assign variant_image = true
                else
                  assign variant_image = false
                endif
            -%}
            <div id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item grid__item slider__slide {% if variant_image %}hide-variant{% endif %}" data-media-id="{{ media.id }}">
              <img src="{{ media | img_url: 'master' }}" loading="lazy">
            </div>
          {%- endfor -%}
        </div>
        <div class="preview">
          {% for media in product.media %}
            {%- liquid
                if variant_images contains media.src
                  assign variant_image = true
                else
                  assign variant_image = false
                endif
            -%}
            <div class="thumb">
             <img src="{{ media | img_url: 'master' }}" loading="lazy">
            </div>
          {% endfor %}
        </div> 
      </div>
      <div class="product-info">
        <div class="mobile-hide">
         <h1 class="product-headline">{{ product.metafields.custom.headline }}</h1>
        </div>
        <div class="product-subtitle">{{ product.metafields.custom.product_subtitle }}</div>

        <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
          {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
        </div>
        <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
          {%- for option in product.options_with_values -%}
            {% if option.name contains 'Bundle' %}
              <fieldset class="js product-form__input saving-bundles">
                <legend class="bundle-label">Bundle & Save</legend>
                <div class="row">
                  {%- for value in option.values -%}
                  <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if option.selected_value == value %}checked{% endif %}
                  > 
                    {% if value contains 1 %}
                  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"class="saving-bundle saving-bundle1">
                      <div>SAVE<span>40%</span></div>
                      <div>1 SET</div>
                      <div>Single</div>
                      <div>{{ product.variants[0].price | money }}</div>
                      </label>
                    {% elsif value contains 2 %}
                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"class="saving-bundle saving-bundle2">
                      <div>SAVE<span>50%</span></div>
                      <div>2 SETS</div>
                      <div>Couple Bundle</div>
                      <div>{{ product.variants[1].price | money }}</div>
                      <div>BEST SELLER</div>
                    </label>
                    {% elsif value contains 3 %}
                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"class="saving-bundle saving-bundle3">
                      <div>SAVE<span>60%</span></div>
                      <div>3 SETS</div>
                      <div>Family Bundle</div>
                      <div>{{ product.variants[2].price | money }}</div>
                      <div>BEST DEAL </div>
                    </label>
                    {% endif %}
                  {%- endfor -%}
                </div>
              </fieldset>
            {% endif %}
          {% endfor %}
          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </variant-radios>

          <div class="cta">
            <div class="cta-button">
              <div {{ block.shopify_attributes }}>
                <product-form class="product-form">
                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="b-get-btn">
                    <button type="submit" name="add" class="get-btn"
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                <span>ADD TO CART</span>
                <div class="loading-overlay__spinner hidden">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </button>
            </div>
            {%- endform -%}
          </product-form>
          </div>
          <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          </div>
            <div class="b-safe-checkout">
              <div class="flex-row-center secure-text" style="padding-left:10px;">
                  <img class ="lock-icon" src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/bxs_lock.png?v=1656162380">
                <span class="safe-checkout">GUARANTEED SAFE CHECKOUT</span>
              </div>
              <div class="payment-logo-wrapper">
                <img class="payment-logos" src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/payment-logo.png?v=1655214307">
              </div>
            </div>
          </div>

          <div class="review-card row">
            <div class="review-img">
              <img src="{{ '3.jpeg' | asset_url }}" alt="">
            </div>
            <div class="review-content">
              <span class="review">{{ product.metafields.custom.review }}</span>
              <strong class="name">Walter C.</strong>
              <div class="verify">
                <img src="{{ 'check.png' | asset_url }}" width="12" height="12" alt="">
                <span>Verified Buyer</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>