<section id="MainProduct-2-{{ section.id }}" data-section="{{ section.id }}">
{{ "section-main-product-2.css" | asset_url | stylesheet_tag }}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- assign product_form_id = 'product-form-' | append: section.id -%}

  <div class="container">
    <div class="product-main row">
      <div class="only-on-mobile">
        <h1 class="product-headline">{{product.metafields.custom.headline}}</h1>
      </div>
      <div class="product-gallery">
        <div class="slider product-img">
          {% for image in product.images %}
          <img class="" src="{{ image | img_url: 'master' }}">
          {% endfor %}
        </div>
        <div class="preview">
          {% for image in product.images %}
            <div class="thumb">
            <img class="" src="{{ image | img_url: 'master' }}">
          </div>
            {% endfor %}
        </div>
      </div>
      <div class="product-info">
        <div class="mobile-hide">
         <h1 class="product-headline">{{product.metafields.custom.headline}}</h1>
        </div>
        <div class="product-subtitle">{{product.metafields.custom.product_subtitle}}</div>

        <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
          {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
        </div>
        <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
          {%- for option in product.options_with_values -%}
              <fieldset class="js product-form__input">
                <legend class="form__label">{{ option.name }}: <span class="option">{{ option.selected_value }}</span></legend>
                {%- for value in option.values -%}
                  <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if option.selected_value == value %}checked{% endif %}
                  >
                    {% assign variant_needed = null %}
                    {% for variant in product.variants %}
                    {% if variant.options contains value %}
                    {% assign variant_needed = variant %}
                    {% endif %}
                    {% endfor %}
                    {% if variant_needed.metafields.color.swatch and option.name == "Color" %}
                    <label class="color-swatch" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}" style="background-color: {{variant_needed.metafields.color.swatch}}">
                    &nbsp
                    </label>
                    {% elsif variant_needed.metafields.image.swatch and option.name == "Color" %}
                    <label class="color-swatch" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option="{{ value }}" style="background-size: cover; background-image: url('{{variant_needed.metafields.image.swatch}}')">
                    &nbsp
                    </label>
                    {% else %}
                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                    {{ value }}
                    </label>
                    {% endif %}
                {%- endfor -%}
              </fieldset>
          {%- endfor -%}
          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </variant-radios>
        {% comment %} <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
          {%- for option in product.options_with_values -%}
            {% if option.name contains 'Bundle' %}
              <fieldset class="js product-form__input saving-bundles">
                <legend class="bundle-label">Bundle & Save</legend>
                <div class="row">
                  {%- for value in option.values -%}
                  <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if option.selected_value == value %}checked{% endif %}
                  > 
                    {% if value contains 1 %}
                  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"class="saving-bundle saving-bundle1">
                      <div>SAVE<span>40%</span></div>
                      <div>1 SET</div>
                      <div>Single</div>
                      <div>{{ product.variants[0].price | money }}</div>
                      </label>
                    {% elsif value contains 2 %}
                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"class="saving-bundle saving-bundle2">
                      <div>SAVE<span>50%</span></div>
                      <div>2 SETS</div>
                      <div>Couple Bundle</div>
                      <div>{{ product.variants[1].price | money }}</div>
                      <div>BEST SELLER</div>
                    </label>
                    {% elsif value contains 3 %}
                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"class="saving-bundle saving-bundle3">
                      <div>SAVE<span>60%</span></div>
                      <div>3 SETS</div>
                      <div>Family Bundle</div>
                      <div>{{ product.variants[2].price | money }}</div>
                      <div>BEST DEAL </div>
                      
                    </label>
                    {% endif %}
                  {%- endfor -%}
                </div>
              </fieldset>
            {% endif %}
          {% endfor %}
          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </variant-radios> {% endcomment %}

          <div class="cta">
            <div class="cta-button">
              <div {{ block.shopify_attributes }}>
                <product-form class="product-form">
                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="b-get-btn">
                    <button type="submit" name="add"
                      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                <span>ADD TO CART</span>
                <div class="loading-overlay__spinner hidden">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </button>
            </div>
            {%- endform -%}
          </product-form>
          </div>
          <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          </div>
          <div class="b-safe-checkout">
            <div class="flex-row-center secure-text" style="padding-left:10px;">
                <img class ="lock-icon" src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/bxs_lock.png?v=1656162380">
              <span class="safe-checkout">GUARANTEED SAFE CHECKOUT</span>
            </div>
              <img class="payment-logos" src="https://cdn.shopify.com/s/files/1/0555/1774/1228/files/payment-logo.png?v=1655214307">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>